<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2023TeamD/blob/Test_and_Trash/2_ETLAufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries
import sqlite3
from sqlite3 import Error

In [ ]:
# mount drive to access data
from google.colab import drive
drive.mount("/content/drive")

In [ ]:
material_path = "/content/drive/... Path to File"

In [ ]:
!ls "/content/drive/... Path to File"

# Python SQLite Guide

In [ ]:
# SQLite connection
def create_connection_memory():
    """ create a database connection to a database that resides
        in the memory
    """
    conn = None;
    try:
        conn = sqlite3.connect(':memory:')
        return conn
        print(sqlite3.version)
    except Error as e:
        print("Error while connecting to sqlite", e)
    # finally:
    #     if conn:
    #         conn.close()

In [ ]:
# create a temporary empty database in the memory.
conn = create_connection_memory()
cur = conn.cursor()
print("Successfully Connected to SQLite")

In [ ]:
# Create SQLite table
create_table_query = '''CREATE TABLE SqliteDb_developers (
                                id INTEGER PRIMARY KEY,
                                name TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                joining_date datetime,
                                salary REAL NOT NULL);'''

cur.execute(create_table_query)
conn.commit()
print("SQLite table created")

In [ ]:
# list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

In [ ]:
# insert into table
cur.execute("INSERT INTO SqliteDb_developers (id,  name, email, salary) VALUES (1, 'name1', 'name1@gmail.com', 1000)")

In [ ]:
# insert into table-Larger example
rows = [(2, 'name2', 'name2@gmail.com', '2006-02-28', 2000),
        (3, 'name3', 'name3@gmail.com', '2006-03-05', 3000),
        (4, 'name4', 'name4@gmail.com', '2006-04-06', 4000)]
cur.executemany('insert into SqliteDb_developers values (?,?,?,?,?)', rows)
conn.commit()

In [ ]:
select_query = "SELECT * FROM SqliteDb_developers"
cur.execute(select_query)
records = cur.fetchall()
print("Total rows in table: ", len(records))
for row in records:
  print(row)

In [ ]:
# select with parameters
select_query = """select * from SqliteDb_developers where id = ?"""
cur.execute(select_query, (1,))
records = cur.fetchall()
print("Printing ID ", id)
for row in records:
    print("Name = ", row[1])
    print("Email  = ", row[2])
    print("JoiningDate  = ", row[3])
    print("Salary  = ", row[4])

In [ ]:
# update table
cur.execute("UPDATE SqliteDb_developers SET Email=? WHERE id =?", ('Uname2@gmail.com', 2))
print("Number of rows updated: {}".format(cur.rowcount))

In [ ]:
# access to metadata (tables and columns) using PRAGMA
cur.execute("PRAGMA table_info(SqliteDb_developers);")
data = cur.fetchall()
# print(data)
for d in data:
  print(d[0], d[1], d[2])

In [ ]:
# Excute whole SQL code in one step
cur.executescript("""
        DROP TABLE IF EXISTS patient_table;
        CREATE TABLE patient_table(patient_id INT, name TEXT, diagnose Text, birthdate datetime);
        INSERT INTO patient_table VALUES(10, 'name1', 'Asthma', '2006-02-28');
        INSERT INTO patient_table VALUES(20, 'name1', 'Asthma', '2007-02-28');
        INSERT INTO patient_table VALUES(30, 'name1', 'Asthma', '2008-02-28');
        INSERT INTO patient_table VALUES(40, 'name1', 'Asthma', '2009-02-28');
        DELETE FROM patient_table WHERE patient_id > 30;
     """)
conn.commit()
# cur.execute("DELETE FROM SqliteDb_developers WHERE id < 3")
cur.execute("SELECT COUNT(patient_id) FROM patient_table")
cur.fetchone()

There are more information in:

http://zetcode.com/db/sqlitepythontutorial/

https://pynative.com/python-sqlite/

https://stackoverflow.com/questions/228912/sqlite-parameter-substitution-problem

# Exercises

### Connect to the database and see how many tables it contains

In [ ]:
# Connect to source database
def create_connection(db_file):
  """ create a database connection to SQLite database"""
  conn = None
  try:
    conn = sqlite3.connect(db_file)
    return conn
  except Error as error:
    print("Error while connecting to sqlite", error)
  # finally:
  #   if conn:
  #     conn.close()

In [ ]:
src_db = f"{material_path}/source_dbs/source_allergy_test.db"
src_conn = create_connection(src_db)
src_cur = src_conn.cursor()
print("Database connection is successfully")

### Query the tables, join two tables

In [ ]:
# noch nicht sinnvoll fÃ¼r uns, hier beispielhaft inner join asthma patienten tabelle -> inner join -> asthma medication tabelle
# verbindung_astpat_astmed = "SELECT * FROM medications INNER JOIN patients ON medications.PATIENT = patients.Id"
# ast_cur.execute(verbindung_astpat_astmed)
# records = ast_cur.fetchall()
# for row in records:
#   print(row)

In [ ]:
# Left Join
# cov_cur.execute('''SELECT * FROM medications LEFT JOIN patients ON medications.PATIENT = patients.Id''')
# records = cov_cur.fetchall()
# for row in records:
#   print(row)

### Copy a table from one database to another(create empty SQLite database)

In [ ]:
material_path = "/content/drive/Shareddrives/Projektarbeit DMA Gruppe D"

In [ ]:
# create a temporary empty rhc_database in the memory
rhc_db = f"{material_path}/source_dbs/rehealthco.db"
rhc_conn = create_connection(rhc_db)
rhc_cur = rhc_conn.cursor()
print("Database connection is successfully")

In [ ]:
csv_path_ast = f"{material_path}/csv_data/asthma"
csv_path_cov = f"{material_path}/csv_data/covid19"
csv_path_met = f"{material_path}/csv_data/metabolic_syndrome_disease"

In [ ]:
import pandas as pd
# load the data into a Pandas DataFrame
astpat_df = pd.read_csv(f"{csv_path_ast}/patients.csv")
astcon_df = pd.read_csv(f"{csv_path_ast}/conditions.csv")
astmed_df = pd.read_csv(f"{csv_path_ast}/medications.csv")
astpro_df = pd.read_csv(f"{csv_path_ast}/procedures.csv")
astobs_df = pd.read_csv(f"{csv_path_ast}/observations.csv")

covpat_df = pd.read_csv(f"{csv_path_cov}/patients.csv")
covcon_df = pd.read_csv(f"{csv_path_cov}/conditions.csv")
covmed_df = pd.read_csv(f"{csv_path_cov}/medications.csv")
covpro_df = pd.read_csv(f"{csv_path_cov}/procedures.csv")
covobs_df = pd.read_csv(f"{csv_path_cov}/observations.csv")

metpat_df = pd.read_csv(f"{csv_path_met}/patients.csv")
metcon_df = pd.read_csv(f"{csv_path_met}/conditions.csv")
metmed_df = pd.read_csv(f"{csv_path_met}/medications.csv")
metpro_df = pd.read_csv(f"{csv_path_met}/procedures.csv")
metobs_df = pd.read_csv(f"{csv_path_met}/observations.csv")

# write the data to a sqlite table
astpat_df.to_sql("patients", ast_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
astcon_df.to_sql("conditions", ast_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
astmed_df.to_sql("medications", ast_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
astpro_df.to_sql("procedures", ast_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
astobs_df.to_sql("observations", ast_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)

covpat_df.to_sql("patients", cov_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
covcon_df.to_sql("conditions", cov_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
covmed_df.to_sql("medications", cov_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
covpro_df.to_sql("procedures", cov_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
covobs_df.to_sql("observations", cov_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)

metpat_df.to_sql("patients", met_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
metcon_df.to_sql("conditions", met_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
metmed_df.to_sql("medications", met_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
metpro_df.to_sql("procedures", met_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)
metobs_df.to_sql("observations", met_conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)

# Abschluss
ast_conn.commit()
cov_conn.commit()
met_conn.commit()

In [ ]:
# Get connections to the databases 
# von asthma nach rehealthco
def copy_table(rhc_conn, ast_cur, rhc_cur, table_name):
  ast_cur.execute(f'SELECT * FROM {table_name}')
  output = ast_cur.fetchall()   # Returns the results as a list.
  # Insert those contents into another table.
  for row in output:
      rowlen = len(row)
      repstring = ""
      for i in range(rowlen -1):
        repstring += "?,"
      repstring += "?"
      rhc_cur.execute(f'INSERT INTO {table_name} VALUES ({repstring})', row)
  # Cleanup
  rhc_conn.commit()

In [ ]:
# alle Tabellen vereinen in rehealthco
copy_table(rhc_conn, ast_cur, rhc_cur, "patients") # 1035 patienten
copy_table(rhc_conn, cov_cur, rhc_cur, "patients") # nun 2085 patienten
copy_table(rhc_conn, met_cur, rhc_cur, "patients") # nun 3113 patienten

copy_table(rhc_conn, ast_cur, rhc_cur, "conditions") # 260 conditions
copy_table(rhc_conn, cov_cur, rhc_cur, "conditions") # 6635 conditions
copy_table(rhc_conn, met_cur, rhc_cur, "conditions") # 7041 conditions

copy_table(rhc_conn, ast_cur, rhc_cur, "medications") # 505 medications
copy_table(rhc_conn, cov_cur, rhc_cur, "medications") # 1395 medications
copy_table(rhc_conn, met_cur, rhc_cur, "medications") # 1715 medications

copy_table(rhc_conn, ast_cur, rhc_cur, "procedures") # 1715 procedures
copy_table(rhc_conn, cov_cur, rhc_cur, "procedures") # 1715 procedures
copy_table(rhc_conn, met_cur, rhc_cur, "procedures") # 1715 procedures

copy_table(rhc_conn, ast_cur, rhc_cur, "observations") # 31220 observations
copy_table(rhc_conn, cov_cur, rhc_cur, "observations") # 151157 observations
copy_table(rhc_conn, met_cur, rhc_cur, "observations") # 182271 observations

In [ ]:
# Tabelleninhalt rehealthco als pandas dataframe
rhcpat_df = pd.read_sql('''SELECT * FROM patients''', rhc_conn)
rhccon_df = pd.read_sql('''SELECT * FROM conditions''', rhc_conn)
rhcmed_df = pd.read_sql('''SELECT * FROM medications''', rhc_conn)
rhcpro_df = pd.read_sql('''SELECT * FROM procedures''', rhc_conn)
rhcobs_df = pd.read_sql('''SELECT * FROM observations''', rhc_conn)

# print(rhcpat_df)
# print(rhccon_df)
# print(rhcmed_df)
# print(rhcpro_df)
# print(rhcobs_df)

### Transform ETL Job: Joint two table and write them into a new table

In [ ]:
# vgl. Query the tables, join two tables und Copy a table from one database to another

### Write ETL jobs for all Tables

In [ ]:
# vgl. Query the tables, join two tables und Copy a table from one database to another

### Write a Program that schedules the ETL jobs and execute them in order

In [ ]:
# vgl. Query the tables, join two tables und Copy a table from one database to another

In [ ]:
# vgl. Query the tables, join two tables und Copy a table from one database to another