In [ ]:
# import libraries
import sqlite3
from sqlite3 import Error

In [ ]:
# mount drive to access data
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
material_path = "/content/drive/... Path to File"

In [ ]:
!ls "/content/drive/... Path to File"

source_allergy.db	     source_covid19.db
source_allergy_test.db	     source_dermatitis.db
source_asthma.db	     source_lung_cancer.db
source_breast_cancer.db      source_metabolic_syndrome_disease.db
source_colorectal_cancer.db  source_patients.db

# Python SQLite Guide

In [ ]:
# SQLite connection
def create_connection_memory():
    """ create a database connection to a database that resides
        in the memory
    """
    conn = None;
    try:
        conn = sqlite3.connect(':memory:')
        return conn
        print(sqlite3.version)
    except Error as e:
        print("Error while connecting to sqlite", e)
    # finally:
    #     if conn:
    #         conn.close()

In [ ]:
# create a temporary empty database in the memory.
conn = create_connection_memory()
cur = conn.cursor()
print("Successfully Connected to SQLite")

Successfully Connected to SQLite

In [ ]:
# Create SQLite table
create_table_query = '''CREATE TABLE SqliteDb_developers (
                                id INTEGER PRIMARY KEY,
                                name TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                joining_date datetime,
                                salary REAL NOT NULL);'''

cur.execute(create_table_query)
conn.commit()
print("SQLite table created")

SQLite table created

In [ ]:
# list of tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('SqliteDb_developers',)]

In [ ]:
# insert into table
cur.execute("INSERT INTO SqliteDb_developers (id,  name, email, salary) VALUES (1, 'name1', 'name1@gmail.com', 1000)")

In [ ]:
# insert into table-Larger example
rows = [(2, 'name2', 'name2@gmail.com', '2006-02-28', 2000),
        (3, 'name3', 'name3@gmail.com', '2006-03-05', 3000),
        (4, 'name4', 'name4@gmail.com', '2006-04-06', 4000)]
cur.executemany('insert into SqliteDb_developers values (?,?,?,?,?)', rows)
conn.commit()

In [ ]:
select_query = "SELECT * FROM SqliteDb_developers"
cur.execute(select_query)
records = cur.fetchall()
print("Total rows in table: ", len(records))
for row in records:
  print(row)

Total rows in table:  4
(1, 'name1', 'name1@gmail.com', None, 1000.0)
(2, 'name2', 'name2@gmail.com', '2006-02-28', 2000.0)
(3, 'name3', 'name3@gmail.com', '2006-03-05', 3000.0)
(4, 'name4', 'name4@gmail.com', '2006-04-06', 4000.0)

In [ ]:
# select with parameters
select_query = """select * from SqliteDb_developers where id = ?"""
cur.execute(select_query, (1,))
records = cur.fetchall()
print("Printing ID ", id)
for row in records:
    print("Name = ", row[1])
    print("Email  = ", row[2])
    print("JoiningDate  = ", row[3])
    print("Salary  = ", row[4])

Printing ID  <built-in function id>
Name =  name1
Email  =  name1@gmail.com
JoiningDate  =  None
Salary  =  1000.0

In [ ]:
# update table
cur.execute("UPDATE SqliteDb_developers SET Email=? WHERE id =?", ('Uname2@gmail.com', 2))
print("Number of rows updated: {}".format(cur.rowcount))

Number of rows updated: 1

In [ ]:
# access to metadata (tables and columns) using PRAGMA
cur.execute("PRAGMA table_info(SqliteDb_developers);")
data = cur.fetchall()
# print(data)
for d in data:
  print(d[0], d[1], d[2])

0 id INTEGER
1 name TEXT
2 email text
3 joining_date datetime
4 salary REAL

In [ ]:
# Excute whole SQL code in one step
cur.executescript("""
        DROP TABLE IF EXISTS patient_table;
        CREATE TABLE patient_table(patient_id INT, name TEXT, diagnose Text, birthdate datetime);
        INSERT INTO patient_table VALUES(10, 'name1', 'Asthma', '2006-02-28');
        INSERT INTO patient_table VALUES(20, 'name1', 'Asthma', '2007-02-28');
        INSERT INTO patient_table VALUES(30, 'name1', 'Asthma', '2008-02-28');
        INSERT INTO patient_table VALUES(40, 'name1', 'Asthma', '2009-02-28');
        DELETE FROM patient_table WHERE patient_id > 30;
     """)
conn.commit()
# cur.execute("DELETE FROM SqliteDb_developers WHERE id < 3")
cur.execute("SELECT COUNT(patient_id) FROM patient_table")
cur.fetchone()

(3,)

There are more information in:

http://zetcode.com/db/sqlitepythontutorial/

https://pynative.com/python-sqlite/

https://stackoverflow.com/questions/228912/sqlite-parameter-substitution-problem

# Exercises

### Connect to the database and see how many tables it contains

In [ ]:
# Connect to source database
def create_connection(db_file):
  """ create a database connection to SQLite database"""
  conn = None
  try:
    conn = sqlite3.connect(db_file)
    return conn
  except Error as error:
    print("Error while connecting to sqlite", error)
  # finally:
  #   if conn:
  #     conn.close()

In [ ]:
src_db = f"{material_path}/source_dbs/source_allergy_test.db"
src_conn = create_connection(src_db)
src_cur = src_conn.cursor()
print("Database connection is successfully")

Database connection is successfully

### Query the tables, join two tables

### Copy a table from one database to another(create empty SQLite database)

### Transform ETL Job: Joint two table and write them into a new table

### Write ETL jobs for all Tables

### Write a Program that schedules the ETL jobs and execute them in order