<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2023TeamD/blob/Jans-Branch/import_csv_into_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#  **Objective**: How to import CSV files into a SQL database

# Importing libraries

In [2]:
import pandas as pd
from functools import reduce
import sqlite3
from sqlite3 import Error
import csv

In [3]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
material_path = "/content/drive/Shareddrives/Projektarbeit DMA Gruppe D"

In [5]:
# list of diseases von Covid19, Asthma und Metabolic Syndrom Disease
!ls "/content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/covid19/disease.csv"
!ls "/content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/asthma"
!ls "/content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/metabolic_syndrome_disease"

'/content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/covid19/disease.csv'
careplans.csv	 encounters.csv       observations.xlsx      procedures.csv
conditions.csv	 imaging_studies.csv  organizations.csv      providers.csv
conditions.xlsx  immunizations.csv    patients.csv	     supplies.csv
devices.csv	 medications.csv      payers.csv
disease.csv	 observations.csv     payer_transitions.csv
careplans.csv	 disease.xlsx	      observations.xlsx      procedures.csv
careplans.xlsx	 encounters.csv       organizations.csv      procedures.xlsx
conditions.csv	 imaging_studies.csv  patients.csv	     providers.csv
conditions.xlsx  immunizations.csv    patients.xlsx	     supplies.csv
devices.csv	 medications.csv      payers.csv
devices.xlsx	 medications.xlsx     payers.xlsx
disease.csv	 observations.csv     payer_transitions.csv

# PANDAS TEST -von Tatjana

In [6]:
# Read a csv(exel) file as a DataFram
csv_path_cov19_cp = material_path + "/csv_data/covid19/careplans.csv" # /content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/covid19/careplans.csv
df_cov19_cp = pd.read_csv(csv_path_cov19_cp)
# show first 5 rows of df
df_cov19_cp.head()

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,bbd91bf4-ca41-8fcf-fe03-562677e1cd09,2020-03-16,2020-03-16,52a250a9-24e4-ec9b-91d6-c38cf1b10fc0,e6242b21-5765-8fb9-d596-07dc2b93bd0d,736376001,Infectious disease care plan (record artifact),840544004,Suspected COVID-19
1,8fbb54fb-fdcd-6c3c-c38b-993c36a0271d,2020-03-16,2020-04-03,52a250a9-24e4-ec9b-91d6-c38cf1b10fc0,e6242b21-5765-8fb9-d596-07dc2b93bd0d,736376001,Infectious disease care plan (record artifact),840539006,COVID-19
2,3258da38-50e6-b40e-889c-dc95d2323c2f,2020-02-17,2020-03-02,ad5525c0-fdab-94dc-018f-d7209c72bdef,1d453a83-17f7-490d-5576-09f5725cdcaa,736376001,Infectious disease care plan (record artifact),840544004,Suspected COVID-19
3,ebc94d26-a633-69e8-da33-a42b8e03fbbe,2020-02-24,2020-02-24,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,ccb50c60-5c51-3d03-3aeb-824325cfac91,736376001,Infectious disease care plan (record artifact),840544004,Suspected COVID-19
4,1f282245-ffef-b0c6-1002-fdef343e45d8,2020-02-24,2020-03-11,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,ccb50c60-5c51-3d03-3aeb-824325cfac91,736376001,Infectious disease care plan (record artifact),840539006,COVID-19

In [7]:
csv_path_cov19_cd = material_path + "/csv_data/covid19/conditions.csv"
df_cov19_cd = pd.read_csv(csv_path_cov19_cd)
df_cov19_cd.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2020-02-17,2020-02-27,ad5525c0-fdab-94dc-018f-d7209c72bdef,1d453a83-17f7-490d-5576-09f5725cdcaa,49727002,Cough (finding)
1,2020-02-24,2020-03-11,7f30313f-98e9-2cc2-68a5-6f9973f9ad5a,ccb50c60-5c51-3d03-3aeb-824325cfac91,49727002,Cough (finding)
2,2020-02-17,2020-02-27,ad5525c0-fdab-94dc-018f-d7209c72bdef,1d453a83-17f7-490d-5576-09f5725cdcaa,386661006,Fever (finding)
3,2020-02-17,2020-02-27,ad5525c0-fdab-94dc-018f-d7209c72bdef,1d453a83-17f7-490d-5576-09f5725cdcaa,36955009,Loss of taste (finding)
4,2020-02-17,2020-02-17,ad5525c0-fdab-94dc-018f-d7209c72bdef,1d453a83-17f7-490d-5576-09f5725cdcaa,840544004,Suspected COVID-19

In [ ]:
csv_path_cov19_dv = material_path + "/csv_data/covid19/devices.csv"
df_cov19_dv = pd.read_csv(csv_path_cov19_dv)
df_cov19_dv.head()

In [ ]:
csv_path_cov19_ds = material_path + "/csv_data/covid19/disease.csv"
df_cov19_ds = pd.read_csv(csv_path_cov19_ds)
df_cov19_ds.head()

In [ ]:
csv_path_cov19_ec = material_path + "/csv_data/covid19/encounters.csv"
df_cov19_ec = pd.read_csv(csv_path_cov19_ec)
df_cov19_ec.head()

In [ ]:
csv_path_cov19_is = material_path + "/csv_data/covid19/imaging_studies.csv"
df_cov19_is = pd.read_csv(csv_path_cov19_is)
df_cov19_is.head()

In [ ]:
csv_path_cov19_im = material_path + "/csv_data/covid19/immunizations.csv"
df_cov19_im = pd.read_csv(csv_path_cov19_im)
df_cov19_im.head()

In [ ]:
csv_path_cov19_md = material_path + "/csv_data/covid19/medications.csv"
df_cov19_md = pd.read_csv(csv_path_cov19_md)
df_cov19_md.head()

In [ ]:
csv_path_cov19_os = material_path + "/csv_data/covid19/observations.csv"
df_cov19_os = pd.read_csv(csv_path_cov19_os)
df_cov19_os.head()

In [ ]:
csv_path_cov19_pt = material_path + "/csv_data/covid19/patients.csv"
df_cov19_pt = pd.read_csv(csv_path_cov19_pt)
df_cov19_pt.head()

In [ ]:
csv_path_cov19_pyt = material_path + "/csv_data/covid19/payer_transitions.csv"
df_cov19_pyt = pd.read_csv(csv_path_cov19_pyt)
df_cov19_pyt.head()

In [ ]:
csv_path_cov19_py = material_path + "/csv_data/covid19/payers.csv"
df_cov19_py = pd.read_csv(csv_path_cov19_py)
df_cov19_py.head()

In [ ]:
csv_path_cov19_pc = material_path + "/csv_data/covid19/procedures.csv"
df_cov19_pc = pd.read_csv(csv_path_cov19_pc)
df_cov19_pc.head()

In [ ]:
csv_path_cov19_pv = material_path + "/csv_data/covid19/providers.csv"
df_cov19_pv = pd.read_csv(csv_path_cov19_pv)
df_cov19_pv.head()

In [ ]:
csv_path_cov19_sp = material_path + "/csv_data/covid19/supplies.csv"
df_cov19_sp = pd.read_csv(csv_path_cov19_sp)
df_cov19_sp.head()

# Import conditiond_info von Covid19, Asthma und Metabolic_Syndrom_Disease - von Jan

In [ ]:
# Read a csv(exel) file as a DataFram
csv_path_asthma_cp = material_path + "/csv_data/asthma/conditions.csv" # /content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/asthma/conditions.csv
df_asthma_cp = pd.read_csv(csv_path_asthma_cp)
# show first 5 rows of df
df_asthma_cp.head()

In [ ]:
#msd -> metabolic_syndrom_disease
csv_path_msd_cp = material_path + "/csv_data/metabolic_syndrome_disease/conditions.csv" # /content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/metabolic_syndrome_disease/conditions.csv
df_msd_cp = pd.read_csv(csv_path_msd_cp)
df_msd_cp.head()

In [ ]:
csv_path_cov19_cd = material_path + "/csv_data/covid19/conditions.csv" #/content/drive/Shareddrives/Projektarbeit DMA Gruppe D/csv_data/covid19/conditions.csv
df_cov19_cd = pd.read_csv(csv_path_cov19_cd)
df_cov19_cd.head()

## Geeignete Spalten -Tatjana

In [ ]:
import numpy as np

In [ ]:
# encounters
df_cov19_ec.head(1)

In [ ]:
df_cov19_ec.head(3)[["Id", "PATIENT", "PAYER", "BASE_ENCOUNTER_COST", "TOTAL_CLAIM_COST", "PAYER_COVERAGE"]]

In [ ]:
# medications
df_cov19_md.head(1)

In [ ]:
df_cov19_md.head(3)[["PATIENT", "PAYER", "BASE_COST", "PAYER_COVERAGE", "TOTALCOST"]]

In [ ]:
# observations
df_cov19_os.head(1)

In [ ]:
df_cov19_os.head(3)[["PATIENT", "DESCRIPTION", "VALUE", "UNITS"]]

In [ ]:
# payers
df_cov19_py.info()

In [ ]:
df_cov19_py.head(3)[["Id", "AMOUNT_COVERED", "AMOUNT_UNCOVERED", "COVERED_ENCOUNTERS", "UNCOVERED_ENCOUNTERS", "COVERED_MEDICATIONS", "UNCOVERED_MEDICATIONS", "COVERED_PROCEDURES", "UNCOVERED_PROCEDURES"]]

## Merge

In [ ]:
df_cov19_ec.head(1)

In [ ]:
df_cov19_py.head(1)

In [ ]:
#stimmt noch nicht
pd.merge(df_cov19_py, df_cov19_ec["Id"], how="left", left_on="Id", right_on="Id", suffixes=["_payers", "_encounters"])

In [ ]:
#stimmt noch nicht
merge_cov19_ec_py = pd.merge(df_cov19_py, df_cov19_ec["Id"], how="left", left_on="Id", right_on="Id", suffixes=["_payers", "_encounters"])
print(merge_cov19_ec_py)

In [ ]:
#stimmt noch nicht
merge_cov19_ec_py.info()

# Path of input/output data 
Uncomment one type of patient that you would like to create for it sql database and  import csv files into related database.

In [ ]:
## type of patients
# patient_type = "allergy"
# patient_type = "asthma"
# patient_type = "breast_cancer"
# patient_type = "metabolic_syndrome_disease"
# patient_type = "colorectal_cancer"
patient_type = "covid19"
# patient_type = "dermatitis"
# patient_type = "lung_cancer"

In [ ]:
# source database path
DB_FILE_PATH = f"{material_path}/source_dbs/source_{patient_type}_test.db"

# folder contains csv files
csv_path = f"{material_path}/csv_data/{patient_type}/"

DB_FILE_PATH, csv_path

# SQL queries to create tables
There are more info about tables in https://github.com/synthetichealth/synthea/wiki/CSV-File-Data-Dictionary

In [ ]:
# dictionary key: name of table, values: sql query to create table
sql_table = {}

In [ ]:
#  sql Anfrage f√ºr Tabelle careplans
sql_table["careplans"] = """CREATE TABLE IF NOT EXISTS patients (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DECRIPTION STRING,
                           REASONSCODE STRING,
                           REASONCODEDESCRIPTION STRING
                       );"""

In [ ]:
# sql query to create disease table
sql_table["disease"] = """CREATE TABLE IF NOT EXISTS disease (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
                           
                       );"""

In [ ]:
#  sql query to create patients table
sql_table["patients"] = """CREATE TABLE IF NOT EXISTS patients (
                           Id STRING PRIMARY KEY,
                           BIRTHDATE DATE,
                           DEATHDATE DATE,
                           SSN STRING,
                           DRIVERS STRING,
                           PASSPORT STRING,
                           PREFIX STRING,
                           FIRST STRING,
                           LAST STRING,
                           SUFFIX STRING,
                           MAIDEN STRING,
                           MARITAL STRING,
                           RACE STRING,
                           ETHNICITY STRING,
                           GENDER STRING,
                           BIRTHPLACE STRING,
                           ADDRESS STRING,
                           CITY STRING,
                           STATE STRING,
                           COUNTRY STRING,
                           ZIP STRING,
                           LAT INTEGER,
                           LON INTEGER,
                           HEALTHCARE_EXPENSES INTEGER,
                           HEALTHCARE_COVERAGE INTEGER
                       );"""

In [ ]:
# sql query to create encounters table
sql_table["encounters"] = """CREATE TABLE IF NOT EXISTS encounters (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ORGANIZATIONS STRING,
                           PROVIDER STRING,
                           PAYER STRING,
                           ENCOUNTERCLASS STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_ENCOUNTER_COST INTEGER,
                           TOTAL_CLAIM_COST INTEGER,
                           PAYER_COVERAGE INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                       );"""

In [ ]:
# sql query to create careplans table
sql_table["careplans"] = """CREATE TABLE IF NOT EXISTS careplans (
                           Id STRING PRIMARY KEY,
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

In [ ]:
# sql query to create conditions table
sql_table["conditions"] = """CREATE TABLE IF NOT EXISTS conditions (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

In [ ]:
# sql query to create medications table
sql_table["medications"] = """CREATE TABLE IF NOT EXISTS medications (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           PAYER STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           PAYER_COVERAGE INTEGER,
                           DISPENSES INTEGER,
                           TOTALCOST INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           
                       );"""

In [ ]:
# # sql query to create procedures table
sql_table["procedures"]= """CREATE TABLE IF NOT EXISTS procedures (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           REASONCODE STRING,
                           REASONDESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

In [ ]:

# # sql query to create observations table
sql_table["observations"]= """CREATE TABLE IF NOT EXISTS observations (
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           VALUE STRING,
                           UNITS STRING,
                           TYPE STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

In [ ]:
# sql query to create devices table
sql_table["devices"] = """CREATE TABLE IF NOT EXISTS devices (
                           START DATE,
                           STOP DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           UDI STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id)
                           
                       );"""

In [ ]:
# sql query to create Imaging_studies table
sql_table["imaging_studies"] = """CREATE TABLE IF NOT EXISTS imaging_studies (
                           Id STRING PRIMARY KEY,
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           BODYSITE_CODE STRING,
                           BODYSITE_DESCRIPTION STRING,
                           MODALITY_CODE STRING,
                           MODALITY_DESCRIPTION STRING,
                           SOP_CODE STRING,
                           SOP_DESCRIPTION STRING,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

In [ ]:
# sql query to create Immunizations table
sql_table["immunizations"]= """CREATE TABLE IF NOT EXISTS immunizations(
                           DATE DATE,
                           PATIENT STRING,
                           ENCOUNTER STRING,
                           CODE STRING,
                           DESCRIPTION STRING,
                           BASE_COST INTEGER,
                           FOREIGN KEY (PATIENT)
                              REFERENCES patients (Id) 
                           FOREIGN KEY (Encounter)
                              REFERENCES encounters (Id) 

                       );"""

# Import csv files into database tables

In [ ]:
def connect_to_db(db_file):
    """
    Connect to an SQlite database, if db file does not exist it will be created
    :param db_file: absolute or relative path of db file
    :return: sqlite3 connection
    """
    sqlite3_conn = None

    try:
        sqlite3_conn = sqlite3.connect(db_file)
        return sqlite3_conn

    except Error as err:
        print(err)

        if sqlite3_conn is not None:
            sqlite3_conn.close()


def insert_values_to_table(cursor, table_name, csv_file_path):

    """
    Open a csv file, store its content in a list excluding header and insert the data from the list to db table
    :param table_name: table name in the database to insert the data into
    :param csv_file_path: path of the csv file to process
    :return: None
    """

    # Read CSV file content
    values_to_insert = open_csv_file(csv_file_path)

    # Insert to table
    if len(values_to_insert) > 0:
        column_names, column_numbers = get_column_names_from_db_table(cursor, table_name)

        values_str = '?,' * column_numbers
        # print("*****", values_str, column_names, column_numbers)
        values_str = values_str[:-1]

        sql_query = 'INSERT OR REPLACE INTO ' + table_name + '(' + column_names + ') VALUES (' + values_str + ')'


        cursor.executemany(sql_query, values_to_insert)
        # conn.commit()

        print('SQL insert process finished')
    else:
        print('Nothing to insert')

        # conn.close()

    # else:
        # print('Connection to database failed')


def open_csv_file(csv_file_path):
    """
    Open and read data from a csv file without headers (skipping the first row)
    :param csv_file_path: path of the csv file to process
    :return: a list with the csv content
    """
    with open(csv_file_path, 'r', encoding='utf-8') as csv_file:
        reader = csv.reader(csv_file)
        next(reader)

        data = list()
        for row in reader:
            data.append(row)

        return data


def get_column_names_from_db_table(sql_cursor, table_name):
    """
    Scrape the column names from a database table to a list and convert to a comma separated string, count the number
    of columns in a database table
    :param sql_cursor: sqlite cursor
    :param table_name: table name to get the column names from
    :return: a comma separated string with column names, an integer with number of columns
    """

    table_column_names = 'PRAGMA table_info(' + table_name + ');'
    sql_cursor.execute(table_column_names)
    table_column_names = sql_cursor.fetchall()

    column_count = len(table_column_names)

    column_names = list()

    for name in table_column_names:
        column_names.append(name[1])

    return ', '.join(column_names), column_count

In [ ]:
# list of tables
sql_table.keys()

In [ ]:
# # remove all tables in a db
# for name in sql_table.keys():
#   cursor.execute(f"drop table if exists {name}")

In [ ]:
# import csv into db
conn = connect_to_db(DB_FILE_PATH)
if conn is not None:
        cursor = conn.cursor()
        for name in sql_table.keys():
          csv_file = csv_path + name + ".csv"
          print(name, csv_file)
          
          cursor.execute(sql_table[name])

          insert_values_to_table(cursor, name, csv_file)
        # conn.commit()
else:
        print('Connection to database failed')

In [ ]:
# ex, access to a csv file
pd.read_csv(f"{csv_path}disease.csv").head()

In [ ]:
# List of tables in database 
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
# check data in a table
cursor.execute("SELECT * FROM patients;")
rows = cursor.fetchall()
for row in rows:
  print(row)

ACHTUNG ENDE

In [ ]:
conn.commit()

In [ ]:
conn.close()

# Ref:



> Synthea csv formats
*   https://github.com/synthetichealth/synthea/wiki/CSV-File-Data-Dictionary


> Load file in google colab
* https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92
* https://stackoverflow.com/questions/18837262/convert-python-dict-into-a-dataframe
* https://colab.research.google.com/notebooks/io.ipynb

> python & sqlite 
 * https://pynative.com/python-sqlite/
 * https://github.com/gygergely/PythonSQLite
 * https://www.youtube.com/watch?v=DihBLvfXVSE

> Importing a CSV file into a sqlite3 database table using Python
* https://stackoverflow.com/questions/2887878/importing-a-csv-file-into-a-sqlite3-database-table-using-python


> error
* https://stackoverflow.com/questions/36518628/sqlite3-integrityerror-unique-constraint-failed-when-inserting-a-value